* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0f172a;
}

/* Style the header */
header {
  background-color: #1c2029;
  text-align: center;
  color: white;
  padding: 5px;
  text-align: center;
  font-size: 15px;
}

/* Style Navbar (Full Screen) */
nav {
  display: flex;
  position: fixed;
  float: left;
  flex-direction: column;
  z-index: 9999;
  gap: 10px;
  background-color: white;
  padding: 20px;
  height: 90vh;
}

nav a {
  color: blue;
  text-decoration: none;
}
nav a:hover {
  color: red;
}
/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

/* Style the footer */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 9999;
  background-color: #1c2029;
  text-align: center;
  color: white;
}
footer p {
  color: white;
  padding: 4px;
}

/* Style Profile */
.profile {
  height: 90vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}
.img-subtitle {
  display: flex;
  gap: 5px;
  flex-direction: column;
  color: white;
  text-align: center;
  padding-top: 5px;
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #1c2029;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #fff;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 576px) {
  nav{
    display: none;
  }
  .topnav{
    visibility: visible;
    h3{
      padding: 5px;
      color: green;
    }
  }
}

@media (max-width: 768px) {
  nav{
    display: none;
  }
  .topnav{
    visibility: visible;
    h3{
      padding: 5px;
      color: green;
    }
  }
}

@media (max-width: 992px) {
  nav{
    display: none;
  }
  .topnav{
    visibility: visible;
    h3{
      padding: 5px;
      color: green;
    }
  }
}

@media (min-width: 1200px) {
  .topnav{
    display: none;
    visibility: hidden;
  }
}

@media (min-width: 1400px) {
  .topnav{
    visibility: hidden;
  }
}
