/* Utilizado a página de formulário para ser estilizado, assim colocando em prática as aulas do Módulo 6 */

.forms{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 40rem;
}

form{
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-radius: 20px;
  flex-direction: column;
  background-color: white;
  color: black;
}

form h1,
p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
}
input {
  padding: 0.5rem;
}
.title-form{
  padding-bottom: 1rem;
}
.form-texts{
  padding-bottom: 15px;
}
[type="text"],
[type="email"],
label,
textarea {
  width: 100%;
}
#center-btn{
  width: 100%;
  display: flex;
  justify-content: center;
}