.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  h3 {
    color: white;
    padding-bottom: 10px;
  }
}
.table {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.row,
.rowTitle {
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  border-bottom: 1px solid black;
}
.row:hover {
  color: white;
  background-color: #232833;
}
.row2:hover {
  color: white;
  background-color: #232833;
}
.row4:hover {
  color: white;
  background-color: #232833;
}

.row2,
.row4 {
  background-color: #687ca8;
  display: flex;
  border-bottom: 1px solid black;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.header,
.column,
.values,
.value {
  padding: 8px;
  text-align: center;
}

.header {
  flex: 1;
  font-weight: bold;
}

.values {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.value {
  margin-top: 5px;
}
